/* .card{
  border: 0.5px solid rgb(143, 137, 137);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(151, 148, 148);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  color: rgb(43, 40, 40);
}

.card .card-para{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(70, 70, 70);
} */

.obj{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 10px;
  border: 1px solid rgb(73, 70, 70);
}

.obj h4{
  margin: 0;
}